/* CSS Variables */
:root {
  --normal-font: 400;
  --bold-font: 600;
  --bolder-font: 900;
  --text-color: #1d263a;
  --background-color: rgba(250, 229, 218, 0.4);
  --orange-color: #ff794d;
  --secondary-color: #20bfa9;
  --line-height: 1.7rem;
  --transition: 0.4s ease-in;
}
